<#@ include file="ConfigurationSectionDesignerSample.tt" #>
<#@ ConfigurationSectionDesigner processor="ConfigurationSectionDesignerDirectiveProcessor" requires="fileName='ManagedFusionRewriterConfiguration.csd'" #>