<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="managedFusion.rewriter" type="ManagedFusion.Rewriter.Configuration.ManagedFusionRewriterSectionGroup, ManagedFusion.Rewriter"/>
	</configSections>
	<managedFusion.rewriter xmlns="http://managedfusion.com/xsd/managedFusion/rewriter">
		<rules engine="Apache"/>
		<rewriter>
			<proxy useAsyncProxy="true" proxyType="ManagedFusion.Rewriter.Test.TestProxyHandler, ManagedFusion.Rewriter.Tests" proxyAsyncType="ManagedFusion.Rewriter.Test.TestProxyAsyncHandler, ManagedFusion.Rewriter.Tests"/>
		</rewriter>
	</managedFusion.rewriter>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
