<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoderJournal.Rewriter.Rules.Properties.Settings.DatabaseConnection"
            connectionString="Server=localhost;Database=coderjournal;Uid=coderjournal;Pwd=coderjournal;"
            providerName="" />
    </connectionStrings>
</configuration>